.modal {
  opacity: 0;
  visibility: hidden;
  transition: visibility 0s linear 0.5s, opacity 0.5s linear;
  background-color: #00000080;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.modal_is-opened {
  opacity: 1;
  visibility: visible;
  transition: visibility 0s linear 0s, opacity 0.5s linear;
}

.modal__container {
  box-sizing: border-box;
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
  background-color: #fff;
  padding: 32px 50px;
  position: relative;
}

.modal__close-btn {
  width: 40px;
  height: 40px;
  background: transparent url("../images/Close-Icon.svg") center no-repeat;
  background-size: 35px 35px;

  border: none;
  position: absolute;
  top: 32px;
  right: 50px;
  transition: 0.3s;

  padding: 0;
  margin: 0;
  color: #212121;
  opacity: 70%;
  cursor: pointer;
}

.modal__close-btn:hover {
  cursor: pointer;
  opacity: 100%;
}

.modal__close-btn_type_preview {
  top: 0;
  right: -52.5px;
  color: #ffffff;
  opacity: 100%;

  width: 40px;
  height: 40px;
  background: transparent url("../images/Close-icon-white.svg") center no-repeat;
  background-size: 35px 35px;

  border: none;
  position: absolute;
  transition: 0.3s;
  padding: 0;
  margin: 0;

  cursor: pointer;
}

.modal__close-btn_type_preview:hover {
  color: #ffffff;
  opacity: 40%;
}

.modal__title {
  margin: 0 0 32px;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__label {
  margin: 0 0 32px;
  color: #21212170;
  font-size: 16px;
  font-weight: 500;
}

.modal__input {
  box-sizing: border-box;
  display: block;
  margin: 8px 0 0;
  width: 100%;
  border-radius: 8px;
  border-color: #21212140;
  border-style: solid;
  height: 52px;
  padding-left: 12px;
}

.modal__input:hover {
  border-color: #21212170;
}

.modal__input::placeholder {
  color: #21212130;
  font-size: 20px;
  font-weight: 500;
}

.modal__submit-btn {
  max-width: 156px;
  border-radius: 8px;
  height: 52px;
  width: 100%;
  border: none;
  background-color: #212121;
  color: white;
}

.modal__submit-btn:hover {
  opacity: 80%;
}

.modal__image {
  max-width: 80vw;
  max-height: 80vh;
  width: 100%;
  object-fit: contain;
  display: block;
  border-radius: 8px;
}

.modal__image-container {
  position: relative;
}

.modal__caption {
  color: white;
  background-color: #212121;
  display: inline-block;
  border-radius: 4px;
}

@media screen and (max-width: 627px) {
  .modal__container {
    width: 100%;
    padding: 12px 12px;
    overflow: hidden;
  }

  .modal__title {
    font-size: 20px;
    margin: 0 0 24px;
  }

  .modal__input {
    width: 97%;
  }

  .modal__submit-btn {
    max-width: none;
    width: 100%;
  }

  .modal__close-btn_type_preview {
    top: -48px;
    right: 0;
  }

  .modal__image {
    max-width: 90vw;
  }
}
